node_modules
npm-debug.log
**/.DS_Store

example-project/build

sovereignty-lib/index.js
sovereignty-lib/index.js.map

sovereignty-builder/*linux*
sovereignty-builder/*win32*
sovereignty-builder/*darwin*
sovereignty-builder/*mas*

ui-dist
